# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
    # Runs on pushes targeting the default branch
    push:
        branches: ['main']

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
    contents: read
    pages: write
    id-token: write
    packages: write

# Allow one concurrent deployment
concurrency:
    group: 'pages'
    cancel-in-progress: true

jobs:
    # Single deploy job since we're just deploying
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Use Node v16 & GitHub registry
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Build React App
              run: |
                  yarn install:all
                  yarn gh-pages-build

            - name: Setup Pages
              uses: actions/configure-pages@v2

            - name: Copy Builds
              run: |
                  mkdir build
                  cp -r examples/sample-vue-app/dist build/vue
                  cp -r examples/sample-svelte-app/dist build/svelte
                  cp -r examples/sample-react-app/dist build/react
                  cp -r examples/sample-vanilla-app/dist build/vanilla
                  cp -r examples/sample-angular-app/dist/easy-angular build/angular
                  cp -r examples/sample-next-app/dist build/next

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v1
              with:
                  # Upload build
                  path: './build'

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v1
